/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes


/lib

/pub

/vendor
/vendor_


!/composer.json
!/composer.lock
!/README.md

!/.gitignore
